<!DOCTYPE html>
<html>
    <head>
        <title>Show item</title>
    </head>

    <body>
        <h1>Result</h1>
        <a href="https://google.com/search?q={{query}}">ここを押すとGoogle検索に遷移</a>
    </body>
</html>